CREATE TABLE pku_eklaim_kehamilan (no_sep VARCHAR(40) NOT NULL PRIMARY KEY, usia_kehamilan INT(3) DEFAULT 0, gravida INT(3) DEFAULT 0, partus INT(3) DEFAULT 0, abortus INT(3) DEFAULT 0, onset_kontraksi INT(1) DEFAULT 1) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4; CREATE TABLE pku_eklaim_kelahiran (id INT AUTO_INCREMENT PRIMARY KEY, no_sep VARCHAR(40) NOT NULL, waktu_kelahiran DATETIME, cara_kelahiran INT(1) DEFAULT 1, letak_presentasi INT(1) DEFAULT 1, kondisi INT(1) DEFAULT 1, shk_pengambilan INT(1) DEFAULT 1, shk_lokasi INT(1) DEFAULT 1, shk_waktu DATETIME) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
